---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About Me</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
	<a href="/blog/">Blog</a>

    <h1>About Me</h1>
    <h2>... and my new Astro site!</h2>

    <p>
      Your advertisement here, at least as soon as I have worked through
      the documentation ;)
    </p>

    <p>More to come...</p>
  </body>
</html>
