---
const pageTitle = "My Astro Learning Blog";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle="Blog">
  <ul>
    {
      allPosts.map((post) => (
        <BlogPost url={`/posts/${post.slug}`} title={post.data.title} />
      ))
    }
  </ul>

  <p>This is where I will post about my journey learning Astro.</p>
</BaseLayout>
