---
const pageTitle = "My Astro Learning Blog";
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayout pageTitle="Blog">
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}

  </ul>

  <p>This is where I will post about my journey learning Astro.</p>
</BaseLayout>
